.swiper {
  width: 100%;
  height: 100%;
}

.swiperSlide {
  width: 85%;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperSlide:hover {
  width: 100%;
}
